*, *::after, *::before {
    box-sizing: border-box;
}
/* .wrapper {
    text-align: center;
}


/* high score and timed counter */
header {
    display: flex;
    justify-content: space-between;
}
 /* #questions-answers{
    display: flex;
     align-items: center; 
    justify-content: center;
}  */
.answer-btns{
    display: grid;
    
}
.wrapper{
    display: flex;
    max-width:100%;
    width: 1000px;
    justify-content: center;
    
}
/* .questions-answers {
    width: 800px;
    max-width: 80%;
   
    

}
.answer-btns {
    display: grid;

    
} */

 
/* .answers {
    font-size: 45px;
}
.btn:hover {
    color: aqua;
}
btn.correct {

}

btn.incorrect{

} */ */
/* .choice1, .choice2, .choice3, .choice4 {
    padding: 15px;
    margin-top: 10px;
}  */