*, *::after, *::before {
    box-sizing: border-box;
}
/* .wrapper {
    text-align: center;
}


/* high score and timed counter */
header {
    display: flex;
    justify-content: space-between;
}
 /* #questions-answers{
    display: flex;
     align-items: center; 
    justify-content: center;
}  */
.answer-btns{
    display: grid;
    
}
.wrapper{
    height: 500px;
    margin: auto;
    width: 50%;
    padding: 10px;
    /* display: flex;
    max-width:100%;
    width: 1000px;
    justify-content: center; */
    
}

.start-button:hover, .choice:hover{
    background-color: blue;
    color: cornsilk;
}

.choice {
    margin: 7px;
}
/* check to see if next button needed */
/* hide .start-button? */
.start-button, .next-button {
    font-size: 25px;
    padding: 5px;
    margin: 10px;
}
/* .questions-answers {
    width: 800px;
    max-width: 80%;
   
    

}
.answer-btns {
    display: grid;

    
} */

 
/* .answers {
    font-size: 45px;
}
.btn:hover {
    color: aqua;
}
btn.correct {

}

btn.incorrect{

} */ 
/* .choice1, .choice2, .choice3, .choice4 {
    padding: 15px;
    margin-top: 10px;
}  */